rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function hasAllowedContentType() {
      return (
        (request.resource != null &&
         request.resource.contentType != null &&
         request.resource.contentType.matches('video/.*')) ||
        (resource != null &&
         resource.contentType != null &&
         resource.contentType.matches('video/.*'))
      );
    }

    function isAdmin(appId) {
      let userDoc = firestore.get(
        /databases/(default)/documents/artifacts/$(appId)/users/$(request.auth.uid)
      );
      return userDoc.data != null && userDoc.data.role == 'admin';
    }

    match /artifacts/{appId}/users/{userId}/{allPaths=**} {
      allow create, update: if request.auth != null
                            && request.auth.uid == userId
                            && hasAllowedContentType();

      allow get: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null && isAdmin(appId);
    }
  }
}
